.inputs .container{
    display: flex;
    flex-direction: column;
    padding: 2px;
}
.inputs .container input{
    border-radius: 10px;
    border: none;
    background-color: #CACACA;
    height: 20px;
    width: 30%;
    
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.5);
}
.inputs .container span{
    padding: 10px;
    color: #004D02;
    font-family: Poppins;
    font-weight: 900;
}
.imgHosp .container{
    display: flex;
    flex-direction: row;
}
.imgHosp .container .imgInput{
    display: flex;
    flex-direction: row;
}
#img{
    position: absolute;
    left: 43%;
    bottom: 25%;
}
.inputs .container .inputRow{
    position: absolute;
    top: 76%;
    left: 35%;
}
.imgHosp{
    margin-bottom: 50px;
}