body{
    font-family: LeagueSpartan;
    margin: 0;
}

.headerElipse{
    display: flex;
    flex-direction: row;
    width: 100%;
    color: white;
}

.conteudoHeaderElipse{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.headerEsquerdaLogo{
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: #004D02;
    width: 12%;
    height: 100%;
}

.headerEsquerdaLogo img {
    position: relative;
    left: 25%;
    top: 5%;
    width: 50%;
    cursor: pointer;
}

.headerDireitaTitulo{
    display: flex;
    flex-direction: column;
    background-image: url(../assets/images/navbarCircle.svg);
    margin-left: 12%;
    width: 88%;
}

.spansHeader{
    display: flex;
    flex-direction: column;
    margin: 2.5% 0 2.5% 5%;
}

.headerDireitaTitulo span {
    font-size: 15px;
    font-weight: 600;
}

#saudacaoDashboard{
    font-size: 35px;
    margin-bottom: 1%;
}

/* MENU LATERAL */

.dashboard {
    display: flex;
    width: 100%;
}

.conteudoDashboard{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.menuLateral{
    display: flex;
    flex-direction: column;
    background-color: #004D02;
    position: fixed;
    height: 100%;
    width: 12%;
}

.containerMenuLateral{
    width: 88%;
    margin: 0 12%;
}

.filtros {
    display: flex;
    flex-direction: column;
}

.boxFiltros {
    display: flex;
    flex-direction: column;
}

.botaoHome{
    color: #C8C8C8;
    margin-top: 10%;
    cursor: pointer;
}

.botaoDashboard{
    display: flex;
    margin-top: 10%;
    color: #FFFFFF;
    background-color: #078204;
    align-items: center;
    border-radius: 5px 0 0 5px;
}

.botaoDashboard svg{
    width: 15%;
    margin-right: 10%;
    padding: 5% 0 5% 5%;
}

.botaoDashboard span {
    padding: 5% 0;
}

.linha{
    height: 1px;
    width: 88%;
    background-color: #E9ECEF;
    margin: 15% 0 30% 0;
}

.botaoFiltros {
    display: flex;
    color: #C8C8C8;
    align-items: center;
}

.botaoFiltros svg {
    width: 15%;
    margin-right: 10%;
}

.boxFiltros{
    display: flex;
    flex-direction: column;
    background-color: #c8c8c8c6;
    width: 88%;
    margin-top: 10%;
    border-radius: 7.5px;
}

.filtroRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10% 0;
    padding-left: 2.5%;
}

.filtroRow span {
    padding-left: 5%;
}

.filtroRow svg {
    padding-left: 10%;
}

.relatorio  a{
    display: flex;
    color: #C8C8C8;
    align-items: center;
    margin-top: 20%;
    cursor: pointer;
}

.relatorio img {
    margin-right: 5%;
}

.relatorio span {
    font-size: 15px;
    width: 80%;
}

.botaoSair{
    display: flex;
    color: #FFFFFF;
    align-items: center;
    margin-top: 50%;
    cursor: pointer;
}

.botaoSair svg {
    width: 30%;
    margin-left: 12%;
}

.botaoSair span {
    font-size: 20px;
}

/* MÃQUINAS */

.dashboardMaquinas{
    margin-left: 12%;
    width: 88%;
    display: flex;
    background-color: #DAF3EA;
}

.conteudoDashboardMaquinas{
    display: flex;
    flex-direction: column;
    margin-top: 2.5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 100%;
}

.tituloDashboardMaquinas{
    font-size: 40px;
    color: #0A8100;
    font-weight: 600;
}

.boxesIndicadoresMaquinas{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin: 2% 0;
}

.boxIndicador{
    display: flex;
    flex-direction: row;
    background-color: #C8C8C8;
    border-radius: 12px;
    padding: 0.5% 0;
    width: 15%;
    box-shadow: -20px 20px 40px 0px rgba(0,0,0,0.75), 20px -20px 40px 0px rgba(255,255,255, 0.75);
}

.circuloBoxIndicador{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 1px solid black;
    margin-top: 5%;
    margin-left: 5%;
}

.tooltipIndicador{
    display: none;
    position: relative;
    left: 90%;
    top: 5%;
}

.spanBoxIndicador{
    width: 70%;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    font-weight: 200;
}


#spanBaixoBoxIndicador{
    margin-top: 12%;
    padding-bottom: 2%;
    font-size: 25px;
    font-weight: 400;
}

#boxTodasMaquinas{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    font-weight: 200;
}

#boxTodasMaquinas #spanBaixoBoxIndicador {
    margin-top: 5%;
}

#boxIdeal {
    background-color: #91E384;
}

#boxAlerta{
    background-color: #EE9663;
}

#boxCritico{
    background-color: #FC8374;
}

#boxIdeal .circuloBoxIndicador{
    background-color: #47C133;
}

#boxAlerta .circuloBoxIndicador{
    background-color: #F16A1B;
}

#boxCritico .circuloBoxIndicador{
    background-color: #C03221;
}

.tituloDashboards{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 1% 0;
}

.auxiliarTituloDashboards{
    background-color: #057D1D;
    border-radius: 20px;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 25px;
    padding: 1% 0;
    font-weight: 400;
    letter-spacing: 5px;
}

.spanSelecionarMaquina{
    margin: 1% 0;
    color: black;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
}

.maquinasCadastradas{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 1% 0;
}

.boxMaquinaCadastrada{
    background-color: #FC8374;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 1%;
    width: 17.5%;
    cursor: pointer;
}

.spanIconesCardDashboard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.spanNomeSO span {
    font-weight: 600;
    margin-bottom: 3%;
}

#spanNome {
    font-weight: 400;
}

#spanSO {
    font-weight: 400;
}

.iconeAlertasMaquinaCadastrada{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icone {
    margin-right: 15%;
}

.alertaMaquinaCadastrada{
    width: 100%;
    margin-top: -20%;
}

.spanAlerta{
    font-weight: 600;
    font-size: 18px;
}

.alertas{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.alertas svg {
    margin-right: 10%;
}

.localMaquinaCadastrada{
    display: flex;
    flex-direction: row;
    margin: 1.5% 0;
    font-weight: 600;
    font-size: 18px;
    align-items: center;
}

#localMaquinaCadastrada{
    font-size: 15px;
    font-weight: 400;
    margin-left: 2%;
}

.modal-window {
    position: fixed;
    background-color: rgba(97, 97, 97, 0.315);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    &:target {
      visibility: visible;
      opacity: 1;
      pointer-events: auto;
    }
    & > div {
      width: 600px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 2em;
      background: white;
    }
    header {
      font-weight: bold;
    }
    h1 {
      font-size: 150%;
      margin: 0 0 15px;
    }
  }
  
  .modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
    &:hover {
      color: black;
    }
  }
  
  
  
  .modal-window {
    & > div {
      border-radius: 1rem;
    }
  }
  
  .modal-window div:not(:last-of-type) {
    margin-bottom: 15px;
  }
  
  .logo {
    max-width: 150px;
    display: block;
  }
  
.label {
    display: flex;
    align-items: center;
    border-radius: 100px;
    padding: 10px 12px;
    margin: 5px 0;
    cursor: pointer;
    transition: .3s;
    width: 100%;
  }
  
  .label:hover,
  .label:focus-within,
  .label:active {

    background: hsla(0, 0%, 80%, 0.288);
  }
  
  .radio-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 1px;
    opacity: 0;
    z-index: -1;
  }
  
  .radio-design {
    width: 12px;
    height: 12px;
    border-radius: 100px;
    background: linear-gradient(to right bottom, #9aff8a, #0A8100);
    position: relative;
  }
  
  .radio-design::before {
    content: '';
    display: inline-block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: hsl(0, 0%, 90%);
    transform: scale(1.1);
    transition: .3s;
  }
  
  .radio-input:checked+.radio-design::before {
    transform: scale(0);
  }
  
  .label-text {
    color: hsl(0, 0%, 60%);
    margin-left: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
    transition: .3s;
  }
  
  .radio-input:checked~.label-text {
    color: hsl(0, 0%, 40%);
  }

  #radio-input-wrapper{
    display: flex;
    flex-direction: row;
  }

  #radio-input-wrapper .coluna-direita{
    margin-left: 5%;

  }

  #radio-input-wrapper .coluna-esquerda {
    margin-left: 35%;
  }

  .coluna-esquerda{
    display: flex;
    position: relative;
    flex-direction: column;

  }

  .coluna-esquerda input{
    margin-left: 15%;
  }

  .gerar-relatorio{
    display: flex;
    position: relative;
    justify-content: center;
  }

  .botao{
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 15%;
}

  .botao .botao-relatorio{
    border-radius: 16px;
    padding: 10px;
    background-color: #47C133;
    color: #FFFFFF;
  }

  .botao-relatorio:hover{
    transition: 0.5s;
    transform: scale(1.05);
  }

.iconesCardDashboard{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -5%;
    gap: 5px;
}

.modalExcluirMaquina{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 25%;
    z-index: 2;
    border-radius: 15px;
    font-family: LeagueSpartan;
    display: none;
}

.modalExcluirMaquina .container{
    display: flex;
    width: 90%;
    margin: auto;
}
.conteudoModalExcluirMaquina{
    display: flex;
    flex-direction: column;
}

.iconesModalExcluirMaquina{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.textosModalExcluirMaquina{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

.tituloModalExcluirMaquina{
    font-size: 25px;
    font-weight: 600;
    color: black;
}

.descricaoModalExcluirMaquina{
    font-size: 15px;
    margin-top: 2%;
}

.botoesModalExcluirMaquina{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10% 0 5% 0 ;
}

.botoesModalExcluirMaquina button {
    width: 45%;
    padding: 3% 0;
    font-size: 18px;
    border-radius: 5px;
    font-weight: 600;
    font-family: LeagueSpartan;
}

#botaoCancelarModalExcluirMaquina{
    background-color: #ffffff;
    border: 1px solid rgba(0,0,0,0.5);
}

#botaoConfirmarExcluirMaquina{
    background-color: #D92D20;
    color: white;
}

.AlterarMaquina{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 25%;
    z-index: 2;
    border-radius: 15px;
    font-family: LeagueSpartan;
    display: none;
}

.AlterarMaquina .container{
    display: flex;
    width: 90%;
    margin: auto;
}
.conteudoAlterarMaquina{
    display: flex;
    flex-direction: column;
}

.iconesAlterarMaquina{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.textosAlterarMaquina{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

.tituloAlterarMaquina{
    font-size: 25px;
    font-weight: 600;
    color: black;
}

.descricaoAlterarMaquina{
    font-size: 15px;
    margin-top: 2%;
}

.botoesAlterarMaquina{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10% 0 5% 0 ;
}

.botoesAlterarMaquina button {
    width: 45%;
    padding: 3% 0;
    font-size: 18px;
    border-radius: 5px;
    font-weight: 600;
    font-family: LeagueSpartan;
}

#botaoCancelarAlterarMaquina{
    background-color: #ffffff;
    border: 1px solid rgba(0,0,0,0.5);
}

#botaoConfirmarAlterarMaquina{
    background-color: #D92D20;
    color: white;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
  }