.container {
    display: flex;
    width: 80%;
    margin: auto;
}

.conteudoLogin{
    display: flex;      
    flex-direction: row;
    margin-left: 10%;
}

.login{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 15%;
}

.imagem{
    width: 60%;
}

.conteudoInputs{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.botao{
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    width: 100%;
}

.botao button{
    width: 120px;
    background-color: #00BD06;  
}

.conteudoInputs input{
    border-radius: 10px;
    border: none;
    background-color: #CACACA;
    height: 20px;
    width: 60%;
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.5);
}
.inputs .container span{
    padding: 10px;
    color: #004D02;
    font-family: Poppins;
    font-weight: 900;
}

.botoesHeader{
    width: 100%;
    align-items: center;
    justify-content: center;
}
