.menuFlutuante{
    display: flex;
    background-color: #004D02;
    position: absolute;
    left: 70.5%;
    top: 9%;
    z-index: 9;
    font-family: LeagueSpartan;
    color: white;
    width: 300px;
    border-radius: 15px;
}

.conteudoMenuFlutuante{
    display: flex;
    flex-direction: column;
    padding: 10% 5% 5% 5%;
    width: 100%;
}

.headerMenuFlutuante{
    display: flex;
    flex-direction: row;
}

.circuloMenuFlutuante {
    background-color: #92E3A9;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.direitaHeaderMenuFlutuante{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    width: 100%;
}

.nomeCargoRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 600;
    width: 100%;
}

#nomeMenuFlutuante{
    font-size: 20px;
}

#cargoMenuFlutuante {
    font-size: 15px;
    margin-left: 2.5%;
}

.emailRow{
    margin-top: 5%;
}

.opcoesMenuFlutuante{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

.opcoesMenuFlutuante span {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 7.5%;
    cursor: pointer;
}

.linhaMenuFlutuante{
    height: 1px;
    width: 100%;
    background-color: white;
    margin-bottom: 7.5%;
}

#spanLogout{
    margin-bottom: 5%;
}
