@font-face {
    font-family: LeagueSpartan;
    src: url(../../assets/fonts/LeagueSpartan-VariableFont_wght.ttf);
}
@font-face {
    font-family: Poppins;
    src: url(../../assets/fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: KyivType Sans;
    src: url(../../assets/fonts/Dmitry\ Rastvortsev\ -\ KyivType\ Sans\ Regular-.otf);
}

body {
    margin: 0;
    padding: 0;
    background-color: #E8E8E8;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: solid black 0px;
}

.container {
    display: flex;
    width: 80%;
    margin: auto;
}

.header {
    font-family: LeagueSpartan;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 1% 0;
}

#tituloHeader {
    font-size: 61px;
    font-weight: 800;
    opacity: 60%;
}

.conteudoHeader {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
        font-size: 20px;
        color: #004D02;
        font-weight: 700;
}

.conteudoHeader li {
    display: flex;
    margin-left: 5%;
}

.botoesHeader {
    margin-left: 7%;
}

.botoesHeader button {
    font-family: LeagueSpartan;
    font-size: 20px;
    border-radius: 15px;
    padding: 6px 0;
    color: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

#botaoLogin {
    width: 110px;
    background-color: #00BD06;
    margin-left: -5%;
}

#botaoCadastro {
    width: 160px;
    background-color: #006432;
    margin-left: 5%;
}

.saudacaoLogado{
    display: none;
    flex-direction: row;
    width: 20%;
    align-items: center;
}

.apresentacaoHeader{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2%;
    font-family: LeagueSpartan;
}

.conteudoApresentacaoHeader{
    width: 50%;
    margin-top: 5%;
}

#textoSuperiorApresentacaoHeader{
    font-size: 40px;
    color: #004D02;
    font-weight: 500;
}

.textoInferiorApresentacaoHeader{
    font-size: 25px;
    color: #000000;
    font-weight: 400;
    margin-top: 10%;
    line-height: 1.2em;
}

.textoInferiorVerde{
    font-weight: 600;
    margin-top: 5%;
    text-align: center;
    color: #00960C;
}

.imagemApresentacaoHeader{
    width: 50%;
}

.imagemApresentacaoHeader img{
    width: 100%;
    height: 90%;
}

.botaoApresentacaoHeader {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.botaoApresentacaoHeader button{
    font-family: LeagueSpartan;
    width: 50%;
    font-size: 25px;
    background-color: #0E9312;
    border-radius: 15px;
    color: white;
    padding: 6px 0;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.segundaApresentacao{
    font-family: KyivType Sans;
    background-color: #ABABAB;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-right: 10%;
}

.conteudoSegundaApresentacao{
    font-family: KyivType Sans;
    display: flex;
    flex-direction: column;
    text-align: end;
    margin-top: 2%;
    width: 90%;
    margin-right: 10%;
}

#textoSuperiorSegundaApresentacao{
    font-size: 30px;
    font-weight: 800;
    color: white;
}

#textoInferiorSegundaApresentacao {
    margin-top: 5%;
    font-size: 25px;
    font-weight: 800;
    color: #0E3D1F;
    line-height: 1.2em;
}

.sobreNos{
    margin-top: 3%;
    font-family: KyivType Sans;
    display: flex;
}

.conteudoSobreNos {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tituloSobreNos {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}

.assistenteConteudoSobreNos{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    font-size: 20px;
    font-weight: 500;
}

.conteudoEsquerdaSobreNos{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.conteudoEsquerdaSobreNos div {
    margin-bottom: 5%;
}

.imagemSobreNos {
    width: 40%;
}

.conteudoDireitaSobreNos{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.conteudoDireitaSobreNos div {
    margin-bottom: 5%;
}

.conteudoSuperiorEsquerdaSobreNos, .conteudoInferiorEsquerdaSobreNos{
    text-align: left;
}

.conteudoMeioEsquerdaSobreNos, .conteudoMeioDireitaSobreNos {
    text-align: center;
}

.conteudoSuperiorDireitaSobreNos, .conteudoInferiorDireitaSobreNos {
    text-align: end;
}

.conteudoInferiorSobreNos {
    font-size: 20px;
    text-align: center;
    font-weight: 500;
}


.MissaoVisaoValores{
    display: flex;
    margin: 5% 0;
    background-color: #ABABAB;
    padding: 2% 0;
}

.conteudoMissaoVisaoValores{
    display: flex;
    flex-direction: column;
}

.missao, .visao, .valores{
    display: flex;
    flex-direction: row;
    margin-bottom: 3%;
}

.imagemMissao, .imagemVisao, .imagemValores {
    width: 20%;
}

.conteudoMissao, .conteudoVisao, .conteudoValores {
    width: 80%;
    margin-left: 3%;
}

.tituloMissao, .tituloVisao, .tituloValores {
    font-size: 40px;
    font-weight: 800;
    color: #003B0F;
    font-family: Poppins;
}

.textoMissao, .textoVisao, .textoValores {
    font-size: 20px;
    font-weight: 500;
    color: #000000;
    font-family: KyivType Sans;
    margin-left: 4%;
}


.tituloAvaliacoes{
    text-align: center;
    font-family: LeagueSpartan;
}

.avaliacoes{
    width: 100%;
}

.conteudoAvaliacoes{
    width: 100%;
    display: grid;
    grid-template-rows: 460px 100px;
    grid-template-columns: 1fr 20px 20px 20px 20px 20px 1fr;
    font-family: KyivType Sans;
}

  
  main#carousel {
    grid-row: 1 / 2;
    grid-column: 1 / 8;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 5;
    --middle: 3;
    --position: 1;
    pointer-events: none;
  }
  
  div.item {
    position: absolute;
    width: 400px;
    height: 400px;
    background-color: coral;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r)))
      translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
    border-radius: 10px;
  }
  
  div.item:nth-of-type(1) {
    --offset: 1;
    background-color: #898989;
  }
  div.item:nth-of-type(2) {
    --offset: 2;
    background-color: #D9D9D9;
  }
  div.item:nth-of-type(3) {
    --offset: 3;
    background-color: #A8A5A5;
  }
  div.item:nth-of-type(4) {
    --offset: 4;
    background-color: #D9D9D9;
  }
  div.item:nth-of-type(5) {
    --offset: 5;
    background-color: #898989;
  }
  
input:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
input:nth-of-type(1):checked ~ main#carousel {
    --position: 1;
  }
  
input:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
input:nth-of-type(2):checked ~ main#carousel {
    --position: 2;
  }
  
input:nth-of-type(3) {
    grid-column: 4 /5;
    grid-row: 2 / 3;
  }
input:nth-of-type(3):checked ~ main#carousel {
    --position: 3;
  }
  
input:nth-of-type(4) {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
  }
input:nth-of-type(4):checked ~ main#carousel {
    --position: 4;
  }
  
input:nth-of-type(5) {
    grid-column: 6 / 7;
    grid-row: 2 / 3;
  }
input:nth-of-type(5):checked ~ main#carousel {
    --position: 5;
  }

.tituloAvaliacao{
    font-size: 20px;
    text-align: center;
    margin-top: 10%;
}

.imagemAvaliacao {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
}

.imagemAvaliacao img {
    width: 50%;
}

.textoAvaliacao{
    font-size: 17px;
    text-align: center;
    padding: 2% 4%;
}

  



.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #7C7C7C;
    padding: 0;
}

.imagemFooter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagemFooter img{
    width: 35%;
}

.nomeEmpresaFooter {
    font-size: 50px;
    font-weight: 800;
    font-family: LeagueSpartan;
    opacity: 50%;
    margin-top: -2%;
}

