@font-face {
    font-family: LeagueSpartan;
    src: url(../../assets/fonts/LeagueSpartan-VariableFont_wght.ttf);
}

@font-face {
    font-family: Poppins;
    src: url(../../assets/fonts/Poppins-Regular.ttf);
}

body {
    font-family: LeagueSpartan;
    margin: 0;
    padding: 1% 0 0 0;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background-color: rgb(63, 88, 63);
}

.divGeral {
    width: 90%;
    padding: 1%;
    border-radius: 20px;
    background-color: rgba(34, 34, 34, 0.642);
}

* {
    font-family: LeagueSpartan;
}

.headerDashboardEspecifica {
    display: flex;
    width: 100%;
    padding: 1%;
    flex-direction: column;
}

.spansHeader {
    display: flex;
    margin-left: 3%;
    font-weight: 400;
    margin-top: 1%;
    flex-direction: column;
    color: rgb(255, 255, 255);
}

.saudacaoVoltar {
    display: flex;
    width: 100%;
    text-align: left;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}


#saudacaoDashboard {
    width: 90%;
    display: flex;
    align-items: center;
    font-size: 18px;
}

#saudacaoDashboard svg {
    margin: 0 1% 0 0;
}

.botaoVoltar {
    display: flex;
    cursor: pointer;
    flex-direction: row;
    align-items: center;
    transition: 0.5s;
}

.botaoVoltar:hover {
    color: rgb(34, 255, 0);
    transition: 0.5s;
    transform: scale(1.3);
}

.dashboardEspecifica {
    width: 100%;
    display: flex;
}

.conteudoDashboardEspecifica {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.dashboardMaquina {
    width: 90%;
    display: flex;
    margin: auto;
    border-radius: 15px;
    flex-direction: column;
}

.usuario {
    display: flex;
    margin: 5px;
    font-weight: 800;
}

.tituloDashboardMaquina {
    width: 95%;
    margin: 2% 0 -2% 0%;
    font-size: 18px;
    text-align: left;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.spanTituloDashboardMaquina {
    width: 50%;
    margin-top: 1%;
}

.botaoListarJanelas {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    transition: 0.5s;
}

.botaoListarJanelas button:hover {
    transition: 0.5s;
    background-color: #7bb37c;
}

.botaoListarJanelas span {
    width: 50%;
}

.botaoListarJanelas button {
    width: 100%;
    padding: 2%;
    font-size: 17px;
    font-weight: 500;
    border-radius: 12px;
    cursor: pointer;
    font-family: Poppins;
    background-color: #c4d7bb;

    -webkit-box-shadow: 16px 14px 13px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 16px 14px 13px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 16px 14px 13px 0px rgba(0, 0, 0, 0.75);
}

#maquinaSelecionada {
    font-size: 22px;
    font-weight: 700;
    color: rgb(0, 167, 3);
}

.conteudoEsquerdaDashboardMaquina {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.conteudoDireitaDashboardMaquina {
    display: flex;
    width: 15%;
}

.auxiliarConteudoDashboardMaquina {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cimaDashboardMaquina {
    display: flex;
    width: 100%;
    color: rgb(0, 0, 0);
    margin-top: 2%;
    flex-direction: row;

}

.indicadoresMaquina {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.tempoAtividadeMaquina {
    display: flex;
    width: 40%;
    padding: 10px;
    border-radius: 10px;
    flex-direction: column;
    background-color: #c4d7bb;
    -webkit-box-shadow: 16px 14px 13px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 16px 14px 13px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 16px 14px 13px 0px rgba(0, 0, 0, 0.75);
}

.tituloTempoAtividade {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 3%;
    text-align: center;
}

.cronometroTempoAtividade {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}

.cronometro {
    display: flex;
    font-weight: 200;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.cronometro span {
    margin-bottom: 15%;
}

.valorCronometro {
    font-size: 20px;
    font-weight: 300;
    color: rgb(0, 0, 0);
}

.medidaCronometro {
    font-weight: 400;
    font-size: 13px;
}


.informacoesMaquina {
    display: flex;
    width: 80%;
    border-radius: 15px;
}

.boxesInformacoes {
    display: flex;
    width: 90%;
    padding: 0 1%;
    border-radius: 15px;
    margin: 0 0 0 auto;
    flex-direction: row;
    justify-content: space-between;
    background-color: #c4d7bb;
    -webkit-box-shadow: 16px 14px 13px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 16px 14px 13px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 16px 14px 13px 0px rgba(0, 0, 0, 0.75);
}

.box {
    display: flex;
    width: 20%;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
}

.box div {
    display: flex;
    font-size: 20px;
    font-weight: 400;
    align-items: center;
    justify-content: center;
}

.valorBox span {
    font-size: 20px;
    font-weight: 400;
}

.graficoInferiorGeral {
    display: flex;
    width: 95%;
    padding: 2%;
    margin: 3% 0 2% 0;
    border-radius: 15px;
    flex-direction: column;
    background-color: #c4d7bb;

    -webkit-box-shadow: 16px 14px 13px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 16px 14px 13px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 16px 14px 13px 0px rgba(0, 0, 0, 0.75);
}

.informacoesMaquinaGrafico {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.opcaoSelecionadaGraficoLegenda {
    display: flex;
    flex-direction: column;
}

.opcaoSelecionadaGraficoLegenda2 {
    display: flex;
    width: 60%;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.opcaoSelecionadaGraficoLegenda span {
    margin-bottom: 10%;
}

#componenteSelecionado {
    display: flex;
    font-size: 20px;
    font-weight: 600;
    align-items: center;
}

#componenteSelecionado svg {
    margin: 0 15% 0 0;
}

#tipoValorComponenteSelecionado {
    font-size: 22px;
    font-weight: 400;
}

#nomeComponente {
    font-size: 22px;
    font-weight: 400;
}

.graficoInferior {
    width: 100%;
    height: 290px;
    border-radius: 15px;
    background-color: green;
}

.conteudoCanvas {
    width: 100%;
    height: 100%;
}

.graficoInferior canvas {
    background-color: rgb(129, 149, 129);
    padding-left: 2%;
    border-radius: 15px;
}

.conteudoDireitaDashboardMaquina {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.boxesLaterais {
    display: flex;
    width: 100%;
    height: 90%;
    margin: auto;
    flex-direction: column;
    justify-content: space-between;

}

.boxLateral {
    width: 100%;
    padding: 2%;
    transition: 0.5s;
    transition: 0.40s;
    border-radius: 10px;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    background-color: #909f89;

    -webkit-box-shadow: 16px 14px 13px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 16px 14px 13px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 16px 14px 13px 0px rgba(0, 0, 0, 0.75);
}

.boxLateral:hover {
    transition: 0.5s;
    transform: scale(1.1);
}

.spanBoxLateral {
    width: 100%;
    font-size: 15px;
    margin-top: 2%;
    font-weight: 400;
    text-align: center;
    color: rgb(255, 255, 255);
}

@keyframes animacaoBorda {
    0% {
        border: 3px solid rgb(85, 183, 0);

    }

    50% {
        border: 3px solid rgb(0, 55, 9);
    }

    100% {
        border: 3px solid rgb(0, 128, 13);
    }
}

.animacaoBorda {
    animation-name: animacaoBorda;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.tituloBoxLateral {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin: 3% 0;
}

.divValorBoxLateral {
    border-radius: 15px;
}

.valorBoxLateral {
    display: flex;
    text-align: center;
    flex-direction: column;
    border-radius: 15px;
    background-color: #718672;
}

.spanValorBoxLateral {
    font-size: 30px;
    font-weight: 400;
    margin: 10% 0;
}

.spanTipoValorBoxLateral {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10%;
}

.linhaCimaRam {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 40px;
    align-items: center;
}

.modalListaJanelas {
    display: flex;
    align-items: center;
    text-align: center;
    position: absolute;
    width: 30%;
    top: 50;
    left: 50;
    z-index: 9;
    border-radius: 10px;
    flex-direction: column;
    background-color: white;
}

#sombreamento {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.iconFecharModalListaJanelas {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.tituloModalListaJanelas {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 3%;
    text-align: center;
}

.subtituloModalListaJanelas {
    width: 100%;
    font-family: Poppins;
    font-size: 17px;
    font-weight: 600;
    align-items: center;
    text-align: center;
    margin-bottom: 5%;
}

.subtituloModalListaJanelas span {
    width: 95%;
}

.janelasAbertas {
    display: flex;
    width: 100%;
    gap: 20px;
    margin-bottom: 5%;
    flex-direction: column;
    gap: 15px;
    max-height: 250px;
    overflow-y: auto;
}

.janelaAberta {
    display: flex;
    width: 100%;
    height: 40px;
    flex-direction: row;
    text-align: center;
    align-items: center;
    background-color: #92E3A9;
}

.bloquinhoEsquerdaJanelaAberta {
    width: 40px;
    height: 40px;
    margin-left: 3%;
    background-color: #004D02;
    cursor: pointer;
}

.nomeJanelaAberta {
    margin-left: 5%;
    font-size: 18px;
}

.avisoFechado{
    display: flex;
    justify-content: flex-start;
    margin-left: 2%;
    margin-bottom: 2%;
    font-size: 14px;
    font-weight: 600;
}

#spanAvisoFechando{
    color: #f16a1b;
}

#spanAvisoFechado{
color: red;
}



