@font-face {
    font-family: LeagueSpartan;
    src: url(../../assets/fonts/LeagueSpartan-VariableFont_wght.ttf);
}

body {
    font-family: LeagueSpartan;
    background-color: #DAF3EA;
    width: 100%;
    height: 100%;
    margin: 0;
}

* {
    font-family: LeagueSpartan;
}

.headerDashboardEspecifica {
    display: flex;
    flex-direction: column;
    background-image: url(../../assets/images/navbarCircle.svg);
    width: 100%;
}

.spansHeader {
    display: flex;
    flex-direction: column;
    color: white;
    margin-left: 17%;
    font-weight: 600;
    margin: 2% 0 3% 16%;
}

#saudacaoDashboard {
    font-size: 35px;
    margin-bottom: 1%;
}

.botaoVoltar {
    margin: 1% 0;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    width: 100%;
    align-items: center;
}

.botaoVoltar span {
    font-size: 30px;
}

.botaoVoltar img {
    margin-top: 1%;
    margin-left: 5%;
    height: 30px;
    width: 30px;
}

.dashboardEspecifica {
    width: 100%;
    display: flex;
    background-color: #858585;
}

.conteudoDashboardEspecifica {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.dashboardMaquina {
    width: 80%;
    display: flex;
    margin: auto;
    border-radius: 15px;
    flex-direction: column;
}

.tituloDashboardMaquina {
    width: 100%;
    font-size: 30px;
    text-align: center;
    color: #fff;
}

#maquinaSelecionada {
    font-size: 40px;
    font-weight: 700;
}

.cimaDashboardMaquina {
    display: flex;
    width: 100%;
    margin-top: 2%;
    flex-direction: row;

}

.componentesMaquina {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.tempoAtividadeMaquina {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    background-color: #CFCFCF;
}

.tituloTempoAtividade {
    text-align: center;
    font-size: 22px;
    font-weight: 200;
}

.cronometroTempoAtividade {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.cronometro {
    display: flex;
    flex-direction: column;
    font-weight: 200;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
}

.cronometro span {
    margin-bottom: 25%;
}

.valorCronometro {
    color: #017404;
    font-size: 25px;
}

.medidaCronometro {
    font-size: 18px;
}

.componentesColumn {
    display: flex;
    flex-direction: column;
    margin-top: 15%;
}

.componente {
    display: flex;
    flex-direction: row;
    background-color: #838383;
    margin-bottom: 5%;
    align-items: center;
    padding: 2% 3%;
    color: white;
    font-weight: 400;
    border-radius: 10px;
    width: 100%;
    font-size: 20px;
}


.graficoInferior {
    width: 80%;
    margin: auto;
    height: 350px;
}

.graficoInferior canvas {
    background-color: white;
    border-radius: 15px;
}


.medidor {
    display: flex;
    width: 15%;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #CFCFCF;
}

.medidor .speed-meter {
    display: flex;
    font-size: 40px;
    color: #000000;
}

.medidor span {
    text-shadow: 2px 3px 0 #fff;
    color: #000000;
}

.medidor .unit {
    color: #000000;
    font-size: 15px;
}

.medidor .speed-meter>.speed {
    margin-left: 16px;
}

.medidor .spinner {
    margin-top: 8px;
    border: 4px solid #45454572;
    height: 25px;
    width: 25px;
    position: relative;
    border-top-color: rgb(0, 96, 16);
    border-radius: 50%;
    animation: rotation 1s infinite linear;
}


@keyframes rotation {
    100% {
        transform: rotate(360deg);
    }
}

.InformacoesMaquina {
    display: flex;
    width: 50%;
    padding: 5px;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    font-weight: 200;
    justify-content: space-around;
    border-radius: 10px;
    background-color: #CFCFCF;
}

.InformacoesMaquinaNomes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 5px;
    padding: 2px;
    text-align: center;
    background-color: #718672;
}

.InformacoesMaquinaDados {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    border-radius: 5px;

    font-size: 25px;
    text-align: center;
    background-color: #718672;
}

.graficoInferiorGeral {
    display: flex;
    width: 100%;
    margin: 2% 0;
    flex-direction: row;
    justify-content: space-between;
}

.graficoInferiorGeralLateral {
    display: flex;
    width: 15%;
    flex-direction: column;
    justify-content: space-between;
}

.porcentagemUtilizacao {
    display: flex;
    width: 80%;
    margin: 3%;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #CFCFCF;
}

.porcentagemUtilizacao2 {
    display: flex;
    padding: 10px;
    border-radius: 5px;
    flex-direction: column;
    background-color: #718672;
}

#utilizacaoDisco,
#utilizacaoCPU,
#utilizacaoRAM {
    margin: 10%;
    font-size: 25px;
    font-weight: 700;
}